<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.brody.financing.mapper.FundTransactionRecordMapper">
    <resultMap id="BaseResultMap" type="cn.brody.financing.pojo.entity.FundTransactionRecordEntity">
        <!--@mbg.generated-->
        <!--@Table fund_transaction_record-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="subscription_amount" jdbcType="DOUBLE" property="subscriptionAmount"/>
        <result column="confirm_share" jdbcType="DOUBLE" property="confirmShare"/>
        <result column="subscription_date" jdbcType="DATE" property="subscriptionDate"/>
        <result column="confirm_date" jdbcType="DATE" property="confirmDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, code, subscription_amount, confirm_share, confirm_date, subscription_date
    </sql>
</mapper>