<?xml version="1.0" encoding="UTF-8"?>
<!--
	按照本模版配置可达到以下效果：
	1、生成操作日志、系统日志和追踪日志文件,文件路径、文件名和日志格式符合日志规范
	2、系统日志除ERROR以上日志打印两次外，其余均只打印一次，节约磁盘I/O
	3、支持使用日志级别修改工具一键修改级别，不需重启即可生效

-->
<!-- scan="true", 不要修改。设为true支持动态调整打印级别（不需重启程序）,已提供工具统一改级别，若设false则无效 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    
    <!-- 应用名称 -->
    <property name="APPLICATION_NAME" value="financing"/>

    <!-- 日志文件存放路径 -->
    <property name="LOG_HOME" value="./logs"/>

    <!-- 日志打印格式-->
    <property name="pattern"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %level ${APPLICATION_NAME} [%thread] [%logger{50}:%line] %msg%n"/>

    <!-- 控制台Appender,默认不打印,防止日志打印到linux的var\log\messages中 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- 所有级别(TRACE及以上)的日志输出配置, 所有级别打印在*.debug.log中, 文件名用debug表示调试用, 便于理解 -->
    <appender name="FILE-debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <File>${LOG_HOME}/${APPLICATION_NAME}.debug.log</File>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名模式 -->
            <FileNamePattern>${LOG_HOME}/${APPLICATION_NAME}.%d{yyyy-MM-dd}.%i.debug.log</FileNamePattern>
            <!-- 保留历史日志文件的最大天数 -->
            <MaxHistory>30</MaxHistory>
            <!-- 单个日志文件最大大小 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="cn.brody" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-debug"/>
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>