<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: commonHeader}">
    <title>基金统计</title>
</head>
<body>

<div class="container">
    <!-- 导航栏 -->
    <th:block th:replace="~{common/navbar :: navbar('fund')}"></th:block>
</div>

<div class="container">
    <h1 class="text-center mb-4"
        th:text="${belong} + '的基金统计'"></h1>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>基金名称</th>
            <th>基金代码</th>
            <th>总投入</th>
            <th>持有份额</th>
            <th>现值</th>
            <th>收益</th>
            <th>收益率</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="statistics : ${statisticsList}">
            <tr>
                <!-- 将基金名称替换为可点击的链接 -->
                <td class="fund-info-cell">
                    <a th:href="@{/financing/fund/trade/{belong}/{fundCode}(belong=${belong}, fundCode=${statistics.fundCode})}"
                    th:text="${statistics.fundName}"></a>
                </td>
                <td class="fund-info-cell" th:text="${statistics.fundCode}"></td>
                <td class="fund-info-cell" th:text="${statistics.totalAmount}"></td>
                <td class="fund-info-cell" th:text="${statistics.totalShare}"></td>
                <td class="fund-info-cell" th:text="${statistics.presentValue}"></td>
                <td class="profit-yield-cell"
                    th:classappend="${statistics.profit >= 0? 'positive' : 'negative'}"
                    th:text="${statistics.profit}"></td>
                <td class="profit-yield-cell"
                    th:classappend="${statistics.yield.startsWith('-')? 'negative' : 'positive'}"
                    th:text="${statistics.yield}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<!-- 引入jQuery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.11.1/dist/jquery.min.js"></script>
<!-- 引入Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script>
    $(function () {

    });
</script>
</body>
</html>