<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>黄金交易数据展示</title>
    <!-- 引入Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- 引用外部CSS文件 -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/financing/fund">基金</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/financing/gold">黄金</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <h1 class="text-center mb-4">黄金交易数据展示</h1>
    <table>
        <thead>
        <tr>
            <th>日期</th>
            <th>金额</th>
            <th>单价</th>
            <th>克数</th>
            <th>交易类型</th>
            <th>黄金类型</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="trade : ${tradeList}">
            <tr>
                <td class="fund-info-cell" th:text="${trade.fundName}"></td>
                <td class="fund-info-cell" th:text="${trade.fundCode}"></td>
                <td class="fund-info-cell" th:text="${trade.totalAmount}"></td>
                <td class="fund-info-cell" th:text="${trade.totalShare}"></td>
                <td th:text="${trade.tradeType == 'purchase' ? '申购' : '赎回'}"></td>
                <td th:text="${trade.tradeType == 'paper' ? '纸面金' : '实体金'}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<!-- 引入jQuery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.11.1/dist/jquery.min.js"></script>
<!-- 引入Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>